[submodule "C.tmbundle"]
	path = C.tmbundle
	url = https://github.com/textmate/c.tmbundle.git
[submodule "CodeBeautifier.tmbundle"]
	path = CodeBeautifier.tmbundle
	url = https://github.com/mocoso/code-beautifier.tmbundle.git
[submodule "Diff.tmbundle"]
	path = Diff.tmbundle
	url = https://github.com/textmate/diff.tmbundle.git
[submodule "Git.tmbundle"]
	path = Git.tmbundle
	url = https://github.com/jcf/git-tmbundle.git
[submodule "GitHub.tmbundle"]
	path = GitHub.tmbundle
	url = https://github.com/adamvduke/github-tmbundle.git
[submodule "Groovy.tmbundle"]
	path = Groovy.tmbundle
	url = https://github.com/textmate/groovy.tmbundle.git
[submodule "html.tmbundle"]
	path = html.tmbundle
	url = https://github.com/textmate/html.tmbundle.git
[submodule "Java.tmbundle"]
	path = Java.tmbundle
	url = https://github.com/textmate/java.tmbundle.git
[submodule "JSON.tmbundle"]
	path = JSON.tmbundle
	url = https://github.com/textmate/json.tmbundle.git
[submodule "Markdown.tmbundle"]
	path = Markdown.tmbundle
	url = https://github.com/textmate/markdown.tmbundle.git
[submodule "Objective-C.tmbundle"]
	path = Objective-C.tmbundle
	url = https://github.com/textmate/objective-c.tmbundle.git
[submodule "Python.tmbundle"]
	path = Python.tmbundle
	url = https://github.com/textmate/python.tmbundle.git
[submodule "RegularExpressions.tmbundle"]
	path = RegularExpressions.tmbundle
	url = https://github.com/textmate/regularexpressions.tmbundle.git
[submodule "Ruby-Haml.tmbundle"]
	path = Ruby-Haml.tmbundle
	url = https://github.com/textmate/ruby-haml.tmbundle.git
[submodule "Ruby-On-Rails.tmbundle"]
	path = Ruby-On-Rails.tmbundle
	url = https://github.com/textmate/ruby-on-rails.tmbundle.git
[submodule "Ruby.tmbundle"]
	path = Ruby.tmbundle
	url = https://github.com/textmate/ruby.tmbundle.git
[submodule "Textile.tmbundle"]
	path = Textile.tmbundle
	url = https://github.com/textmate/textile.tmbundle.git
[submodule "XCode.tmbundle"]
	path = XCode.tmbundle
	url = https://github.com/textmate/xcode.tmbundle.git
[submodule "RSpec.tmbundle"]
	path = RSpec.tmbundle
	url = https://github.com/square/rspec-tmbundle.git
[submodule "erlang.tmbundle"]
	path = erlang.tmbundle
	url = https://github.com/textmate/erlang.tmbundle.git
