[submodule "C.tmbundle"]
	path = C.tmbundle
	url = https://github.com/textmate/c.tmbundle.git
[submodule "CodeBeautifier.tmbundle"]
	path = CodeBeautifier.tmbundle
	url = https://github.com/mocoso/code-beautifier.tmbundle.git
[submodule "Diff.tmbundle"]
	path = Diff.tmbundle
	url = https://github.com/textmate/diff.tmbundle.git
[submodule "Git.tmbundle"]
	path = Git.tmbundle
	url = https://github.com/jcf/git-tmbundle.git
[submodule "GitHub.tmbundle"]
	path = GitHub.tmbundle
	url = https://github.com/adamvduke/github-tmbundle.git
[submodule "Groovy.tmbundle"]
	path = Groovy.tmbundle
	url = https://github.com/textmate/groovy.tmbundle.git
